// Define your layouts header styles here
.logo {
  margin: 10px 0 0 -15px;
  display: block;
}
.margin-header .header-main {
  margin-bottom:2em;
  box-shadow: -1px 1.1px 7.6px 0.9px rgba(32, 32, 32, 0.11);
}
.btn-sign-up {
  background-color: transparent;
  border: solid 3px $brand-primary;
  padding: 6px 2em;
  margin-left: 1em;
  font-weight: bold;
}
.header-homepage .btn-sign-up {
  border-color: white;
  color: white;
}

.header-homepage .btn-login, .header-homepage .btn-logout {
  color: white;
  font-weight: 300;
}
.membership-links {
  margin-top: 20px;
}
.header-homepage .membership-links {
  margin-top: 28px;
}
