// Define your layouts header styles here
.logo {
  margin: 10px 0 0 -15px;
  display: block;
}
.header-main .logo img {
  max-width: 109px;
}
.btn-sign-up {
  background-color: transparent;
  border: solid 3px $brand-primary;
  padding: 6px 2em;
  margin-left: 1em;
  font-weight: bold;
}
.header-homepage .btn-sign-up {
  border-color: white;
  color: white;
}

.header-homepage .btn-login, .header-homepage .btn-logout {
  color: white;
  font-weight: 300;
}
.membership-links {
  margin-top: 20px;
}
.header-homepage .membership-links {
  margin-top: 28px;
}
.header-overlayed {
  background-size: cover;
  z-index: 1;
  position:relative;
  color: white;
  &:after {
    content: ' ';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    background-color: rgba(0,0,0,0.5);
  }
  h1, h2{
    font-size: 55px;
    font-weight: 300;
  }
}
.pre-main .header-interior {
  margin-bottom: 2em;
}
.header-interior {
  background-position: center top;
  height: 50vw;
  h1{
    margin-top: 22vw;
  }
}
.secondary-nav{
  background-color: $brand-info;
  padding: 1.3em 0;
  margin-bottom: 3em;
  a {
    color: $nav-link-color;
    &.active {
      color: white;
    }
  }
  .list-inline > li {
    padding-right: 40px;
  }
}
.header-no-hero {
  margin-bottom: 2em;
}
.devise-links {
  margin-top: 1em;
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
  header.header-main {

    .header-login-col {
      .membership-links {
        float: none !important;
        text-align: center;
        margin: 0;

        .btn-login {
          display: inline-block;
          text-align: center;
          margin: 0 auto;
          width: 100%;
        }

        .btn-sign-up {
          margin: 0;
        }
      }
    }

  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  header.header-main {

    .header-login-col {
      .membership-links {
        float: none !important;
        text-align: center;
        margin: 0;

        .btn-login {
          display: inline-block;
          text-align: center;
          margin: 0 auto;
          width: 100%;
        }

        .btn-sign-up {
          margin: 0;
        }
      }
    }

  }

  .pre-main .header-interior {
    margin-bottom: 2em;
    overflow: hidden;
    position: relative;
  }

  .header-interior {
    height: 50vw;

    h1{
      margin-top: 15%;
    }
  }

  body .header-post h1 {
    font-size: 1.9em;
  }

  body .header-post h3 {
    font-size: 1.4em;
  }

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

  header.header-main {

    .header-logo-col {
      text-align: center;
    }

    .header-state-col {
      form {
        .input-group-xl {
          margin-left: 0em;
          margin-right: 0em;
        }
      }
    }

    .header-login-col {
      .membership-links {
        float: none !important;
        text-align: center;
        margin: 0;

        .btn-login {
          display: inline-block;
          text-align: center;
          margin: 0 auto;
          width: 100%;
        }

        .btn-sign-up {
          margin: 0;
        }
      }
    }

  }



  .pre-main .header-interior {
    margin-bottom: 2em;
    overflow: hidden;
    position: relative;
  }

  .header-interior {
    height: 50vw;

    h1{
      margin-top: 10%;
    }
  }

  body .header-post h1 {
    font-size: 1.5em;
  }

  body .header-post h3 {
    font-size: 1.1em;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  .header-interior {
    height: 50vw;

    h1{
      margin-top: 8%;
    }
  }

  body .header-post h1 {
    font-size: 1.3em;
  }

  body .header-post h3 {
    font-size: 1.0em;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}