// Define your layouts header styles here
.logo {
  margin: 10px 0 0 -15px;
  display: block;
}
.margin-header .header-main {
  margin-bottom:2em;
  box-shadow: -1px 1.1px 7.6px 0.9px rgba(32, 32, 32, 0.11);
}
.btn-sign-up {
  background-color: transparent;
  border: solid 3px $brand-primary;
  padding: 6px 2em;
  margin-left: 1em;
  font-weight: bold;
}
.header-homepage .btn-sign-up {
  border-color: white;
  color: white;
}

.header-homepage .btn-login, .header-homepage .btn-logout {
  color: white;
  font-weight: 300;
}
.membership-links {
  margin-top: 20px;
}
.header-homepage .membership-links {
  margin-top: 28px;
}
.header-overlayed {
  background-size: cover;
  z-index: 1;
  position:relative;
  color: white;
  &:after {
    content: ' ';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    background-color: rgba(0,0,0,0.5);
  }
  h1, h2{
    font-size: 55px;
    font-weight: 300;
  }
}
.pre-main .header-interior {
  margin-bottom: 2em;
}
.header-interior {
  background-position: center top;
  height: 50vw;
  h1{
    margin-top: 22vw;
  }
}
.secondary-nav{
  background-color: $brand-info;
  padding: 1.3em 0;
  margin-bottom: 3em;
  a {
    color: $nav-link-color;
    &.active {
      color: white;
    }
  }
  .list-inline > li {
    padding-right: 40px;
  }
}
.header-no-hero {
  margin-bottom: 2em;
}
.devise-links {
  margin-top: 1em;
}