// Place all the styles related to the home_page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.header-homepage {
  background-image: url(image-path("dev-hunting.jpg"));
  z-index: 1;
  position:relative;
  color: white;
}
.header-homepage:after {
  content: ' ';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  background-color: rgba(0,0,0,0.5);
}
.header-homepage h2{
  font-weight: normal;
}