// Place all the styles related to the home_page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.header-homepage {
  padding-bottom: 5em;
  background-image: url(image-path("dev-hunting.jpg"));
}

.header-homepage h2 {
  margin: 3.5em 0 1em;
}
.header-homepage .location-search .form-control {
  background-color: rgba(0,0,0,0.5);
  color: white;
}
.header-homepage .location-search label {
  font-size: 16px;
  font-weight: 300;
}
.header-homepage .location-search .btn {
  padding: 17px 40px;
  margin-top: 2em;
}
.header-homepage .location-search .form-group {
  width: 50%;
  float:left;
}
.header-homepage .location-search .form-control {
  $color: #ffffff;
  &::-moz-placeholder           { color: $color; } // Firefox
  &:-ms-input-placeholder       { color: $color; } // Internet Explorer 10+
  &::-webkit-input-placeholder  { color: $color; } // Safari and Chrome
}