// Place all the styles related to the Locations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.locations {
  background-color: #f6f6f6;
}
.location.panel {
  box-shadow: -2.4px 2.6px 4.2px 0.8px rgba(32, 32, 32, 0.11);
}
.location .location-name {
  text-transform: uppercase;
  font-weight: bold;
  font-family: Brandon Grotesque;
}
.location .location-description {
  line-height: 2;
  letter-spacing: 0.2px;
  padding-bottom: 2em;
}
.location .location-website {
  font-weight: 500;
  text-decoration: underline;
  display:block;
  font-size: 1.25em;
  color: $brand-info;
}
.location .location-handicap small {
  color: $brand-info;
}
.location .location-telephone {
  font-size: 1.25em;
  color: $text-color;
}
.city-state-link {
  text-decoration: underline;
  color: $text-color;
}
.location-search-interior .form-control {
  border-width: 0 1px 0 0;
}
.location-search-interior .btn {
  border-width: 0 0 0 1px;
}
.back-link {
  text-decoration: underline;
}
.back-link .glyphicon-menu-left {
  padding-right:20px;
  display: inline-block;
}