// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
article.post .body {
  ul, ol {
    padding-left: 40px;
  }
  p {
    line-height: 2;
    letter-spacing: 0.2px;
  }
  a {
    text-decoration: underline;
    color: $brand-info;
    &:hover {
      color: $content-link-hover-color;
    }
  }
}

article.post h1 {
  text-align: center;
}

.subtitle {
  font-style: italic;
}

.posts-index {
  h2 {
    font-weight: bold;
    margin-bottom: 0;
    font-family: "Times New Roman", Times, serif;
  }
  .subtitle {
    margin: 0;
  }
}

.header-post {
  h1 {
    font-size: 2em;
  }
}

.category-link {
    color: $brand-info;
}
