<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <ul id="footer-nav-tier-1" class="footer-nav list-inline">
          <li><a href="/about">About</a></li>
          <li><a href="#">Contact Us</a></li>
          <li><a href="/locations/new">Add a Hunting Destination</a></li>
          <li><a href="#">Newsletter</a></li>
        </ul>
        <ul id="footer-nav-tier-2" class="footer-nav list-inline">
          <li><a href="/press-&amp;-media">Press & Media</a></li>
          <li><a href="/faq">FAQ</a></li>
          <li><a href="/terms-of-service">Terms of Service</a></li>
          <li><a href="/privacy-policy">Privacy Policy</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-md-offset-1 text-right">
        <div class="logo-footer pull-right"><%= image_tag('logo_white.png') %></div>
        <a href="mailto:info@americahunt.com">info@americahunt.com</a>
      </div>
    </div>
  </div>
</footer>