<%= form_tag '#', method: 'get', class: 'location-search location-search-interior' do |f| %>
  <label for="location" class="sr-only"><%= I18n.t('navigation.links.where_to_hunt') %></label>
  <div class="input-group input-group-xl">
    <div class="input-group-btn">
      <%= button_tag(type: 'submit', class: 'btn btn-default') do %>
          <span class="glyphicon glyphicon-search"></span>
      <% end %>
    </div>
    <%= select_tag 'state_alpha2', options_for_select(Location.states, selected: @state_alpha2), prompt: 'State?', class:'form-control', required: true %>
  </div>
<% end %>
