// Define your app's form styles here

form {
  .error-message {
    padding-left: 5px;
    color: $state-danger-text;
  }
  .input-group-xl .form-control {
    height: 86px;
    padding: 25px 16px;
    font-size: 25px;
    line-height: 1.3333333;
    border-radius: 0;
  }
  .form-group select.form-control {
    -webkit-border-radius: 0;
    -webkit-appearance: none;
    padding: 0 16px;
  }
}
.simple_form label {
  font-weight: 300;
}
.form-group-lg {
  button.multiselect {
    height: $input-height-large;
    padding: $padding-large-vertical $padding-large-horizontal;
    font-size: $font-size-large;
    line-height: $line-height-large;
    border-radius: $input-border-radius-large;
    width: 100%;
    border: 1px solid $input-border;
  }
}
.multiselect-native-select {
  .btn-group, .multiselect-container{
    width:100%;
  }
  .multiselect-clear-filter {
    padding: 12px 12px 13px;
  }
}
form.text-book label {
  font-weight: 300;
}
.rating-container {
  &.rating-info .filled-stars {
    color: $brand-info;
  }
  &.hide-empty-stars .empty-stars{
    color: transparent;
  }
}

.rating-xxs {
  font-size: 1em;
}
input.rating {
  display: none;
}
