// Define your app's form styles here

form {
  .error-message {
    padding-left: 5px;
    color: $state-danger-text;
  }
  .input-group-xl .form-control {
    height: 86px;
    padding: 25px 16px;
    font-size: 25px;
    line-height: 1.3333333;
    border-radius: 0px;
  }
  .form-group-lg select.form-control {
    -webkit-border-radius: 0px;
    -webkit-appearance: none;
    padding: 0px 16px;
  }
}
