<h1 class="h2 h2-bold">Hunting News</h1>
<ul class="posts list-unstyled">
  <%= content_tag_for('li', @content_posts, class: 'panel', itemscope: '',itemtype: 'http://schema.org/BlogPosting') do |post| %>
      <div class="panel-heading clearfix">
        <div class="col-md-4">
          <time class="pull-left small" itemprop="dateCreated"><%= link_to post.created_at.strftime('%A, %B %-d, %Y'), post_path(post), itemprop: 'url' %></time>
        </div>
        <div class="col-md-8">
          <h2 class="h6" itemprop="headline"><%= link_to post.title, post_path(post), itemprop: 'url' %></h2>
        </div>
      </div>
      <div class="panel-body">
        <p><%= post.subtitle %></p>
      </div>
  <% end %>
</ul>
