<ul class="posts posts-index list-unstyled">
  <%= content_tag_for('li', @posts, itemscope: '',itemtype: 'http://schema.org/BlogPosting') do |post| %>
     <h2 class="h4" itemprop="headline"><%= link_to post.title, post_path(post), itemprop: 'url', class:'link-underline' %></h2>
     <p class="subtitle h5"><%= link_to post.subtitle || '', post_path(post), itemprop: 'url' %></p>
  <% end %>
</ul>
