<% content_for(:pre_main) do %>
    <nav class="secondary-nav post-nav">
      <div class="container">
        <ul class="list-inline">
          <li><%= link_to_active_class 'News', posts_path %></li>
          <li><%= link_to_active_class 'Sales', sales_path %></li>
        </ul>
      </div>
    </nav>
<% end %>
<div class="col-md-9">
  <header class="header-no-hero">
    <h1 class="h1-bold">Hunting Sales</h1>
  </header>
  <%= render 'posts/list_link' %>
</div>
<%= render 'shared/ads_sidebar', count: 3 %>
