<div class="container">
  <div class="row">
    <%= form_tag '/locations', method: 'get', class: 'location-search' do |f| %>
        <%= hidden_field_tag 'state_alpha2', @state_alpha2 %>
        <div class="col-md-3">
          <div class="form-group form-group-lg">
            <label for="species_id" class="sr-only">What would you like to hunt for?</label>
            <%= select_tag 'species_ids', option_groups_from_collection_for_select(@top_level_species,:children, :name, :id, :name), include_blank: 'What?', class: 'form-control select-multi', multiple: true, data: { enableFiltering: true } %>
          </div>
        </div>
        <div class="col-md-3">
          <%= submit_tag 'Search', class: 'btn btn-lg btn-info btn-search' %>
        </div>
    <% end %>
  </div>
</div>
