<% content_for :pre_main do %>
    <header class="header-interior header-sign-up header-add-destination col-md-12 header-overlayed">
      <h1 class="text-center">Add a Hunting Destination</h1>
    </header>
<% end %>

<div class="col-md-12">
  <h2>Thank you for submitting a destination</h2>
  <p>Your destination will be added to the site pending approval.</p>
</div>