<% content_for :pre_main do %>
    <header class="header-interior header-sign-up header-add-destination col-md-12 header-overlayed">
      <h1 class="text-center">Add a Hunting Destination</h1>
    </header>
<% end %>
<% if user_signed_in? %>
  <div class="col-md-3">

  </div>
  <div class="col-md-6">
    <%= render 'form' %>
  </div>
<% else %>
    <div class="col-md-12">
      <p>Please <a data-toggle="modal" data-target="#login-modal" class="text-info" href="#"><%= t('navigation.links.login') %></a> or <%= link_to t('navigation.links.register'), new_user_registration_path, class:'text-info' %> to submit destinations.</p>
    </div>
<% end %>
